@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Teko:wght@300&display=swap");

.bg-home:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url(../img/backgrounds/bg.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

body {
  font-family: "Roboto";
}

.cursor {
  cursor: pointer;
}

.form-group {
  margin-top: 10px;
}

.control-label::after {
  content: ": ";
}

.form-switch .form-check-input {
  height: 2em;
  width: 4em !important;
}

/* .form-check-input {
  height: 2em !important;
} */
.form-check label {
  color: transparent;
}

.ms-auto {
  margin-left: 0 !important;
}

/* .bg-menu-theme.menu-horizontal {
  background-color: rgba(255, 255, 255, 0.50) !important;
  box-shadow: none;
} */
.text-h1 {
  font-size: 6rem !important;
  font-weight: 500;
  line-height: 7rem;
  text-transform: none !important;
}

.summary,
.pagination {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.text-hero {
  font-size: 8em;
}
.text-shadow {
  text-shadow: 5px 3px 5px #999;
}

.text-white {
  color: #fff;
}

.note-btn-group button {
  border-radius: 0 !important;
  border-color: transparent !important;
  background-color: transparent !important;
  border-right: none !important;
  border-left: none !important;
  box-shadow: none !important;
  padding: 0.5rem !important;
}

.card-brick {
  background-color: rgba(256, 256, 256, 0.6);
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
}

.card-brick:hover {
  transform: scale(1.05);
}

.card-brick::after {
  position: absolute;
  bottom: 10px;
  left: 10px;
  content: attr(data-name) " ";
  font-size: 6rem;
  font-weight: 800;
  line-height: 80px;
  opacity: 0.2;
  z-index: -1;
  transition: filter 0.2s; /* Animation */
}

.card-brick:hover:after {
  opacity: 0.1;
  filter: blur(4px);
}

.chapter-title {
  font-size: 1.05em;
  font-weight: bold;
}

.question-title {
  font-size: 1.02em;
  font-weight: bold;
}

.question-link {
  font-weight: 200;
}

.comment-title {
  font-size: 0.9em;
  font-weight: bold;
}

#loading-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(128, 128, 128, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ti-xxl {
  font-size: 8em;
}

.table th {
  letter-spacing: normal !important;
}
.card-dropdown {
  display: none;
}
@media only screen and (max-width: 500px) {
  .card-inlinelist {
    display: none;
  }
  .card-dropdown {
    display: block;
  }
  .card-dropdown .card-buttons {
    width: 90%;
    margin: 5px;
    justify-content: start;
  }
}

.select2-container--krajee-bs5 .select2-selection--single {
  background-position: right 0.75rem center !important;
}
.select2-container[dir="rtl"]
  .select2-selection--single
  .select2-selection__rendered {
  padding-right: 20px !important;
  padding-left: auto !important;
}

.card-quiz {
  background: rgb(0, 17, 37);
  background: linear-gradient(
    335deg,
    rgba(0, 17, 37, 1) 0%,
    rgba(0, 68, 103, 1) 100%
  );
}

.quiz-question-title {
  padding: 2rem;
  font-size: 3.5rem;
  color: ghostwhite;
  /* border: 2px solid #006b95;  */
  border-radius: 20%;
  box-shadow: 0px 0 10px #0ff;
}

.quiz-part {
  border-color: #006b95;
  /* border-color: #16cde1; */
}

.btn-quiz {
  display: block;
  border: 3px solid #006b95;
  padding: 1rem 3rem;
  width: 75%;
  font-size: 3.5rem;
  background-color: transparent;
  color: ghostwhite;
}
.btn-quiz:hover {
  box-shadow: 0px 0 10px #0ff;
  color: ghostwhite;
}
.btn-quiz:disabled {
  background-color: gray;
  color: lightgray;
}

.btn-quiz.active {
  background-color: #006b95;
}

.base-timer {
  position: absolute;
  top: 0px;
  right: 20px;
  font-family: "Teko", Courier, monospace;
  font-size: 7rem;
  color: ghostwhite;
  width: 200px;
  height: 200px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: inline-block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
